# Do not check Rust test files and build artifacts into source control

docs/
target/
Cargo.lock
*.so
*.dll
*.dylib
test*.jpg
test*.png
examples/pkg
examples/target
examples/serve
examples/Cargo.lock
examples/test*.jpg
examples/test*.png

# Do not check IntelliJ-specific files into source control

*.iml
*.ipr
*.iws
.idea/

# Do not check Visual Studio Code-specific files into source control

*.code-workspace