# Rust test files and build artifacts

target/
Cargo.lock
*.so
*.dll
*.dylib
test*.jpg
test*.png
examples/pkg
examples/target
examples/Cargo.lock
examples/test*.jpg
examples/test*.png

# IntelliJ

*.iml
*.ipr
*.iws
.idea/
